
.footer {
    background: url('../img/footer.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 551px;

}

.footer_logo {
    display: block;
    width: 147px;
    height: 70px;
    float: left;
    margin-top: 30px;
    cursor: pointer;
    background: url('../img/nazax_logo_white.png');
}

.footer_content {
    padding-top: 50px;
}

.socialLinks {
    width: 300px;
    height: 400px;
    position: relative;
    float: left;
}
.socialLinks_title {
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 35%;
    text-transform: uppercase;
    font-weight: 600;
}

.socialLinks_items {
    position: absolute;
    bottom: 25%;
}

.socialLinks_item {
    padding-right: 25px;
}

.socialLinks_item_facebook {
    display: inline-block;
    background: url('../img/footer_facebook_icon.png') no-repeat;
    width: 13px;
    height: 24px;
}

.socialLinks_item_twitter {
    display: inline-block;
    background: url('../img/footer_twitter_icon.png') no-repeat;
    width: 23px;
    height: 19px;
}

.socialLinks_item_linkedin {
    display: inline-block;
    background: url('../img/footer_linkedin_icon.png') no-repeat;
    width: 20px;
    height: 20px;
}

.footer_menu {
    width: 270px;
    float: left;
    margin-top: 54px;
}

.footer_menu_title {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.footer_menu_separator {
    display: block;
    width: 54px;
    margin-top: 16px;
    height: 0px;
    border: 1px solid #fff;
}

.footer_menu_item {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #12cd72;
    font-weight: 600;

    &:hover {
        color: #08b762;
    }
}

.footer_contacts {
    width: 270px;
    float: left;
    margin-top: 54px;
    padding-left: 30px;
}

.footer_contacts_label {
    display: block;
    margin-top: 15px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 600;
}

.footer_contacts_value {
    font-size: 13px;
    color: #12cd72;
    text-decoration: none;
    font-weight: 600;
}

.footer_aboutCompany {
    padding-top: 47px;
    width: 270px;
    float: left;
    padding-left: 30px;
}

.footer_aboutCompany_title {
    color: #12cd72;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
}

.footer_aboutCompany_desc {
    display: inline;
    font-family: 'Exo 2',sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: .1em;
    line-height: 34px;
}

