// header colors
$headerColor : #fff;
$btnGreenColor : #12cd72;
$btnGreenColorHover : #08b762;

$headerContentBtnW : 170px;
$headerContentBtnH : 47px;

$headerContentBtnBorderSize: 2px;
$headerContentBtnBorderColor: #fff;
$headerContentBtnBorderColorHover: #d4d0d0;

.header_index {
    background: url('../img/header_index.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 845px;
}

.header_blog {
    background: url('../img/header_blog.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 658px;
}

.header_contactUs {
    background: url('../img/header_contactUs.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 658px;
}


.header_aboutUs {
    position: relative;
    background: url('../img/header_aboutUs.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 658px;
    z-index: 99;
}

.header_contactUs_content {
    margin-top: 120px;
}

.header_logo {
    display: block;
    width: 147px;
    height: 70px;
    float: left;
    margin-top: 30px;
    cursor: pointer;
    background: url('../img/nazax_logo_white.png');
}

.header_menu {
    float: right;
    margin-top: 47px;

    &_item {

        color: #fff;
        font-size: 18px;
        font-weight: 600;
        text-decoration: none;
        letter-spacing: (100 / 1000) + em;
        margin-right: 40px;
        float: left;
        padding-top: 10px;
        // border-bottom: 3px solid;
        padding: 10px 8px 5px 8px;

        &:hover {
            border-bottom: 3px solid #fff;

        }

        &_active {
            border-bottom: 3px solid $btnGreenColor;
        }

    }

    &_btn {
        display: block;
        float: left;
        background: $btnGreenColor;
        color: #fff;
        font-weight: 600;
        width: 270px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: (100 / 1000) + em;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);

        &:hover {
            background: $btnGreenColorHover;
        }
    }
    

}

.header_content_index {
    margin-top: 89px;
}

.header_content_blog {
    margin-top: 150px;
}

.header_content_title {
    font-size: 30px;
    color: $headerColor;
    line-height: 60px;
    letter-spacing: 0.12em;
    margin: 0px 0px 17px 0px;
    text-transform: uppercase;

    
    &_center {
        text-align: center;
        font-size: 30px;
        color: $headerColor;
        line-height: 60px;
        letter-spacing: 0.12em;
        margin: 0px 0px 44px 0px;
        text-transform: uppercase;
    }
}


.header_content_desc {
    color: $headerColor;
    font-size: 18px;
    line-height: 36px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    letter-spacing: 0.103em;
}

.header_content_desc_center {
    color: #fff;
    font-size: 18px;
    line-height: 36px;
    font-family: 'Exo 2',Montserrat,sans-serif;
    letter-spacing: .103em;
    text-align: center;
}

.header_content_btn_group {
    margin-top: 35px;
}

.header_content_btn {
    width: $headerContentBtnW;
    height: $headerContentBtnH;
    line-height: $headerContentBtnH;
    float: left;
    margin-right: 30px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    cursor: pointer;

    &_green {
        background: $btnGreenColor;

        &:hover {
            background: $btnGreenColorHover;
        }
    }

    &_white {
        width: $headerContentBtnW - ( $headerContentBtnBorderSize * 2 ); // its for correct btn size because we use border
        height: $headerContentBtnH - ( $headerContentBtnBorderSize * 2 );
        line-height: $headerContentBtnH - ( $headerContentBtnBorderSize * 2 );
        border: $headerContentBtnBorderSize solid $headerContentBtnBorderColor;

        &:hover {
            border-color: $headerContentBtnBorderColorHover;
        }
        
    }

}


.header_social_links {
    margin-top: 37px;
}

.header_social_item {
    display: inline-block;
    width: 41px;
    height: 41px;
    margin-right: 27px;
    
}

@each $iconName in facebook,twitter,linkedin {
    .header_social_item_#{$iconName} {
        background: url('../img/social_icon_#{$iconName}.png') no-repeat;
    }
}
