body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 1170px;
    padding: 0px 15px;
    margin: 0px auto;
}

.container_1260 {
    width: 1260px;
}

/* general */
@import './header.scss';
@import './mobileMenu.scss'; 

/* index page */
@import './index_page/specialists_section.scss';
@import './index_page/whatWeDo_section.scss';
@import './index_page/lastesNews_section.scss';
@import './index_page/trusted_section.scss';

/* blog page */
@import './blog_page/blog_section.scss';
@import './blog_page/posts_section.scss';

/* contact us */
@import './contactUs_page/contactUs_section.scss';

/* about us  */
@import './aboutUs_page/aboutUs_section.scss';

@import './footer.scss';
@import './responsive.scss';