
@media (max-width: 1024px) {
    .container, .container_1260 {
        width: 100%;
        padding: 0px;
    }
}

@media (max-width: 768px) {
    .header_menu {
        display: none;
    }
    
    #menuToggle {
        display: block;
    }
}