$mainColorForBtn: #12cd72;
$mainColorForBtnHover: #08b762;

.blog {
    margin-top: 30px;
}

.blog_container_separator {
    height: 1px;
    border-bottom: 1px solid #e3e6ec;
    margin: 33px 0px;
}

.article_filter {
    float: left;
}

.article_filter_btnGroup {
    height: 44px;
    text-align: center;
    line-height: 44px;
    font-size: 16px;
    text-transform: uppercase;
    float: left;
    cursor: pointer;
    padding: 0px 20px;
    margin-right: 15px;
    font-weight: 600;
}

.article_filter_btn_active {
    background: #12cd72;
    color: #fff;

    &:hover {
        background: #08b762;
    }
}

.article_filter_btn {
    color: #333333;

    &:hover {
        background: #e3e6ec;
    }
}

.blog_search {
    float: right;
    position: relative;
}

.blog_search_input {
    width: 178px;
    height: 32px;
    border: 1px solid #ccc;
    margin-right: 70px;
    padding: 5px 0px 5px 20px;
    font-size: 14px;
    font-family: 'Exo 2',sans-serif;

    ::placeholder {
        color: #cccccc;
    }
}
.blog_search_btn {
    position: absolute;
    top: 0;
    right: 0;
    height: 44px;
    width: 70px;
    background: #12cd72;
    border: 0px;
    cursor: pointer;

    &:hover {
        background: $mainColorForBtnHover;
    }
}

.blog_search_btn_search {
    background: url('../img/search_icon.png');
    height: 23px;
    width: 23px;
    display: block;
    margin: 0px auto;
}

.blog_mainPost_img {
    background: url('../img/blog_main_postImg.png');
    width: 470px;
    min-height: 356px;
    float: left;
}

.blog_mainPost_content {
    float: left;
    width: 670px;
    padding-left: 30px;
}

.blog_mainPost_metainfo {
    font-size: 16px;
    font-family: 'Exo 2',sans-serif;
    font-weight: 300;
    margin-bottom: 35px;
}

.blog_mainPost_metainfo_category {
    float: left;
    color: #333333;
    letter-spacing: 0.1em;
}

.blog_mainPost_metainfo_date {
    float: right;
    color: #999999;
    letter-spacing: 0.1em;
}

.blog_mainPost_title {
    font-size: 30px;
    padding: 0px;
    margin: 0px 0px 25px 0px;
    
}

.blog_mainPost_title_link {
    color: #333333;
    text-decoration: none;
}

.blog_mainPost_author {
    font-size: 16px;
    font-family: 'Exo 2',sans-serif;
    color: #333333;
    margin: 0px 0px 25px 0px;
}

.blog_mainPost_desc {
    font-size: 18px;
    font-family: 'Exo 2',sans-serif;
    color: #666666;
    line-height: 30px;
}