.posts {
    background: url('../img/posts_bg.png');
    background-repeat: repeat-y;
    min-height: 771px;
}

.posts_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.post_item {
    width: 370px;
    padding-top: 70px;
}

.post_item_metainfo {
    font-size: 16px;
    font-family: 'Exo 2',sans-serif;
    font-weight: 300;
    margin-bottom: 35px;
}

.post_item_metainfo_category {
    float: left;
    color: #333333;
    letter-spacing: 0.1em;
}

.post_item_metainfo_date {
    float: right;
    color: #999999;
    letter-spacing: 0.1em;
}

.post_item_title {
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 27px;
    margin-bottom: 24px;
}

.post_item_author {
    font-size: 16px;
    color: #333333;
    font-family: 'Exo 2',sans-serif;
}

.post_item_desc {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: 'Exo 2',sans-serif;
    line-height: 24px;
    margin-top: 19px;
    text-align: justify;
    color: #666;
}