@import '../vars/global_vars.scss';


.lastesNews {
    margin-top: 77px;
}
.lastesNews_title {
    @extend %section_title;
}

.lastesNews_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}

.lastesNews_item {
    width: 370px;
}

.lastesNews_item_title {
    color: #333333;
    font-size: 16px;
    letter-spacing: 0.1em;
    font-weight: 700;
    margin-top: 27px;
}

.lastesNews_item_desc {
    font-size: 16px;
    letter-spacing: 0.1em;
    font-family: 'Exo 2',sans-serif;
    line-height: 24px;
    margin-top: 19px;
    text-align: justify;
}

.lastesNews_readMore {
    display: block;
    width: 188px;
    height: 43px;
    margin: 112px auto 1px;
    border: 2px solid #006ec1;
    font-family: 'Exo 2',sans-serif;
    font-weight: 700;
    color: #006ec1;
    font-size: 16px;
    text-align: center;
    line-height: 43px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;

    &:hover {
        color: darken( #006ec1, 5% );
        border: 2px solid darken( #006ec1, 5% );
    }
}