@import '../vars/global_vars.scss';

.specialists {
    margin-top: 35px; 
}

.specialists_title {
    @extend %section_title;
}

.specialists_grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.specialists_grid_item {
    position: relative;
    height: 126px;
    width: 50%;
    margin-bottom: 27px;
    margin-top: 50px;
}

.specialist_grid_item_img {
    min-width: 70px;
    float: left;

    position: absolute;
    top: 50%;

    &_architect {
        width: 71px;
        height: 79px;
        background: url('../img/architector_icon.png');
        margin-top: -35px;
    }

    &_devops {
        width: 70px;
        height: 67px;
        background: url('../img/devops_icon.png');
        margin-top: -67 / 2 + px;
    }

    &_backend {
        width: 70px;
        height: 67px;
        background: url('../img/backend_icon.png');
        margin-top: -67 / 2 + px;
    }

    &_frontend {
        width: 70px;
        height: 67px;
        background: url('../img/frontend_icon.png');
        margin-top: -67 / 2 + px;
    }
}

.specialist_grid_item_content {
    height: 100%;
    width: 80%;

    margin-left: 10px;
    float: left;
    margin-left: 90px;
    padding: 10px 0px 0px 10px;
    border-left: 1px solid #006ec1;
}

.specialist_grid_item_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: #333333;
    letter-spacing: 0.1em;
}

.specialist_grid_item_description {
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #666666;
}