@import '../vars/global_vars.scss';

.whatWeDo {
    background: url('../img/content_bg_blue.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 669px;
    margin-top: 65px;
}

.whatWeDo_title {
    @extend %section_title;
    color: #fff;
    padding-top: 77px;
}

.whatWeDo_grid {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
}

.whatWeDo_item {
    width: (100% / 3);
    margin-bottom: 47px;
}

.whatWeDo_item_icon {
    width: 16px;
    height: 16px;
    background: url('../img/star_icon.png');
    float: left;
}

.whatWeDo_item_title {
    padding-left: 30px;
    font-size: 16px;
    color: #12cd72;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;

    &::after {
        content: "";
        display: table;
        clear: both;
    }

}

.whatWeDo_item_desc {
    padding-top: 15px;
    padding-left: 30px;
    color: #fff;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
    line-height: 24px;
    padding-top: 10px;
    letter-spacing: 0.1em;
}


