@import '../vars/global_vars.scss';

.contact_form {
    margin-top: 80px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
}

.contact_form_title {
    @extend %section_title;
}

.contact_form_content {
    width: 720px;
    margin: 75px auto 0px auto;
}

.contact_form_input {
    width: 680px;
    padding: 20px 20px;
    background: #f5f5f5;
    font-size: 16px;
    color: #666;
    letter-spacing: .1em;
    border: 0px;
    margin-bottom: 22px;
}

.contact_form_email {
    width: 306.5px;
    margin-right: 22px;
}

.contact_form_subject {
    width: 306.5px;
}

.contact_form_textarea {
    height: 80px;
}

.contact_form_submit {
    display: block;
    width: 184px;
    height: 50px;
    margin: 10px auto 0px auto;
    font-size: 17px;
    letter-spacing: 0.1em;
    line-height: 50px;
    background: #006ec1;
    color: #ffffff;
    text-align: center;
    border: 0px;
    cursor: pointer;
    
    &:hover {
        background: #006ec1 - 10%;
    }
}