@import '../vars/global_vars.scss';

.WhoWeAre_title {
    @extend %section_title;
    margin-top: 77px;
}

.WhoWeAre {
    height: 480px;
    background: #fff;
    position: relative;
}

.WhoWeAre_left_decoration {
    background: url('../img/WhoWeAre_left_decoration.png') no-repeat;
    width: 289px;
    height: 802px;
    position: absolute;
    top: -320px;
    left: -10px;
}

.WhoWeAre_right_decoration {
    background: url('../img/WhoWeAre_right_decoration.png') no-repeat;
    position: absolute;
    top: -320px;
    right: -10px;
    width: 432px;
    height: 802px;
}

.WhoWeAre_desc {
    font-size: 18px;
    line-height: 36px;
    position: relative;
    color: #333333;
    text-align: center;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    margin-top: 55px;
    letter-spacing: 0.1em;
}
.WhoWeAre_subTitle {
    margin: 0px;
}

.developmentConsulting {
    background: url('../img/developmentConsulting_bg.png') no-repeat;
    height: 790px;
    position: relative;
}

.developmentConsulting_title {
    @extend %section_title;
    padding-top: 77px;
    color: #fff;
    margin-bottom: 56px;
}

.developmentConsulting_desc {
    width: 80%;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    line-height: 36px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
   
}
.developmentConsulting_list {
    display: block;
    float: left;
    width: 46.5%;
    list-style-image: url('../img/star_icon.png');
    
}

.developmentConsulting_list li {
    color: #12cd72;
    font-size: 16px;
    font-family: 'Montserrat','Exo 2', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
}

.services {
    height: 710px;
}

.services_title {
    @extend %section_title;
    margin-top: 77px;
    margin-bottom: 56px;
}

.services_desc {
    width: 86%;
    margin: 0px auto;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #000;
    line-height: 36px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    padding-bottom: 65px;
}

.services_list {
    display: block;
    float: left;
    width: 46.5%;
    list-style-image: url('../img/star_icon_green.png');
}

.services_list li {
    color: #000;
    font-size: 16px;
    font-family: 'Montserrat','Exo 2', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    padding-bottom: 40px;
}

.augment {
    background: url('../img/augment_bg.png') no-repeat;
    height: 696px;
}

.augment_title {
    @extend %section_title;
    padding-top: 77px;
    color: #12cd72;
    margin-bottom: 56px;
    letter-spacing: .1em;
}

.augment_desc { 
    color: #fff;
    line-height: 36px;
    font-family: 'Exo 2', 'Montserrat', sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    margin-bottom: 35px;
}